# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
local.properties
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
composer.lock

.classpath
.gradle/
.gradle
gradle

#Others
*.bin
*.iml
*.lock
*.properties
*.rawproto
*/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
*/build/intermediates/manifests/full/debug/AndroidManifest.xml
*/build/intermediates/blame/res/debug/single/drawable-hdpi.json
*/build/intermediates/blame/res/debug/single/drawable-mdpi.json
*/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
*/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
*/build/intermediates/blame/res/debug/single/drawable-xxxhdpi.json
*/build/intermediates/blame/res/debug/multi/values.json
*/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
*/build/intermediates/incremental/mergeDebugResources/merger.xml
*/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
*/build/intermediates/res/merged/debug/values/values.xml
*/build/outputs/logs/manifest-merger-debug-report.txt
*/build/generated/source/buildConfig/androidTest/debug/com/agilewhisperers/bunnysnaketankmaze/test/BuildConfig.java
*/build/generated/source/buildConfig/debug/com/agilewhisperers/bunnysnaketankmaze/BuildConfig.java 
.idea
desktop/desktop.iml
core/core.iml
android/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
android/android.iml
.gradle/buildOutputCleanup/cache.properties